<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to Blocipedia</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
    <div class="col-md-4">
      <h4>Your ultimate resource for all information.</h4>
      <div id="myDiv">
        <img src="https://static.pexels.com/photos/1518/black-and-white-city-bird-people.jpg" align="left"/>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Make an account, become a member.</h4>
      <div id="myDiv">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGTqoTpiyq-t4uYYyDCnWA1Cpnb7A2yggZ2_hDTLX0KVq7uzSUWg"/>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Increase your amount of knowledge.</h4>
      <div id="myDiv">
        <img src="https://static.pexels.com/photos/474/black-and-white-car-vehicle-vintage.jpg"/>
      </div>
    </div>
  </div>
</div>
