<div class="jumbotron">
  <div class="container text-center">
    <h1>Welcome to Blocipedia</h1>
    <h3>The newest product from Ted Keast.</h3>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <h4>Your ultimate resource for all information.</h4>
      <div class="myDiv">
        <img src="https://static.pexels.com/photos/1518/black-and-white-city-bird-people.jpg" align="left"/>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Make an account, become a member.</h4>
      <div class="myDiv">
        <img src="http://wallpaperstock.net/black-and-white-drops-wallpapers_25481_1680x1050.jpg" align="center"/>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Increase your amount of knowledge today.</h4>
      <div class="myDiv">
        <img src="https://static.pexels.com/photos/474/black-and-white-car-vehicle-vintage.jpg" align="right"/>
      </div>
    </div>
</div>
