<h1>Editing Wiki</h1>

<%= render 'form' %>

<% if @wiki.private == true %>
<p>Edit Collaborators for this Wiki</p>
<%= link_to 'Edit Collaborators', wiki_collaborators_path(@wiki), method: :get %>
<% end %>



<%= link_to 'Back', wikis_path %>
