<p id="notice"><%= notice %></p>

<h3>Wikis | <%= link_to 'Create Wiki', new_wiki_path %></h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <% if current_user.admin? || current_user.premium? %>
      <tr>
        <td><%= link_to "#{wiki.title}", wiki %></td>
      </tr>
      <% else %>
        <% unless wiki.private == true %>
        <tr>
          <td><%= link_to "#{wiki.title}", wiki %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
